/* body {
  background-image: url(Assets/stacked-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
} */

/*Primera sección*/

#info h1 {
  font-size: 40px;
}


/*Segunda sección*/

.icon {
  width: 60px;
  height: auto;
}

